<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>inReview - Company Ratings and Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="inReview - LinkedIn Company Reviews">
    <meta name="author" content="Raghu Udiyar">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.rating.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/show_review.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
  </head>

<body>
	<div class="container">
		<div class="row" id="header">
		<a href="#"><h1><img id="logo" src="/static/logo.png" border="0"/></a>
		<small>Company Ratings and Reviews</small></h1>
		</div>
		<div class="row" id="content">
			<div class="span4 wel" id="left">		
				<div id="sign-in"><script type="IN/Login" data-size="large" data-onAuth="loadCompanyList"></script></div>
				<div id="hello"></div>
				<ol id="company-list" class="company-list">
				</ol>
			</div>
			<div class="span6 wel" id="right">
			{% include 'right.html' %}
			</div>
		</div>
		<div class="row" id="footer">
		</div>
	</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.rating.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-typeahead.js') }}"></script>
	
	<script type="text/javascript" src="http://platform.linkedin.com/in.js">
	  api_key: 8obfnn483hga
	  authorize: true
	</script>

  </body>
</html>
